.wrap {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 0.5rem;
	@media (max-width: 1200px) {
		grid-template-columns: repeat(5, 1fr);
	}
	@media (max-width: 991px) {
		grid-template-columns: repeat(4, 1fr);
	}
	@media (max-width: 768px) {
		grid-template-columns: repeat(4, 1fr);
	}
	@media (max-width: 555px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: 425px) {
		grid-template-columns: repeat(2, 1fr);
	}
}
.hide {
	grid-template-columns: 1fr;
	padding: 2rem 0;
}
.loading {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.active {
	grid-template-columns: 1fr;
}

.empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	svg {
		font-size: 5rem;
	}
	p {
		font-size: 1.5rem;
	}
}

