.wrap {
	background: #000;
	width: 50vw;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
	overflow-y: auto;
}

.title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.chapters {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}
.chapter {
	background: #1b1b1b;
	color: #fff;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1rem;
	border-radius: 0.5rem;
	&:hover {
		background: #1b1b1b9d;
		.chapter_name {
			color: #ff6a00;
		}
	}
}

.chapter_info {
	display: flex;
	column-gap: 0.3rem;
}

.select_chapter {
	background: #1b1b1b80;
}
