.wrap {
	padding-bottom: 3.5rem;
}

.image {
	width: 100%;
}

.add_page {
	padding: 0.5rem;
	border-radius: 0.5rem;
	color: #fff;
	background: #1a1c1d;
	&:hover {
		background: #1a1c1d8c;
	}
	&:active {
		background: #1a1c1d;
	}
}

.book_name {
  width: 100%;
  margin: 0 auto;
	background: transparent;
	color: #fff;
	font-size: 1.5rem;
  margin: 0.5rem 0;
}

.book {
	&:hover {
		color: #ff6a00;
	}
	&:active {
		color: #fff;
	}
}

.chapter {
  cursor: auto;
}

.not_found {
	display: flex;
	flex-direction: column;
	align-items: center;
	svg {
		font-size: 5rem;
	}
	p {
		font-size: 1.5rem;
	}
}